{
  "presets": [],
  "plugins": [
    ["module-resolver", {
      "alias": {
        "components": "./src/components"
      },
      "extensions": [ ".js", ".jsx", ".json", ".ts", ".tsx" ]
    }]
  ]
}
